.color_noche-links--nav, .color_nocturno-activado {
    color: #ffffff;
}

.background_nocturno-activado{
    background-color: #222222;
}

.redes_sociales-nocturno--activado > a {
    color: #ffffff;
}

.redes_sociales-nocturno--activado > a > img{
    filter: invert(100%);
    -webkit-filter: invert(100%);
    width: 16px;
}

.cartas_nocturno--activo{
    background-color: #757575;
}

.boton_imagen-modonoche {
    background-image: url("../recursos/imagenes-iconos/sol.png");
}