.footer{
    background-color: #F5F5F5;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.footer_contenedor{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_redes{
    padding: 0;
}

.footer_firma{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_desarrollador{
    margin: 0;
    font-size: 1rem;
    color: #464646;
}

.footer_anho{
    margin: 0;
    font-size: 0.9rem;
    color: #464646;
}