.formacion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2A7AE4;
    margin-bottom: 60px;
}

.formacion_titulo{
    font-size: 1.5rem;
    text-transform: uppercase; 
    color: #ffffff;
    margin-bottom: 20px;
}