.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}

nav {
    display: flex;
    align-items: center;
}

/*? Para la parte de mi nombre */
.menu_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 10px;
}

.menu_imagen {
    width: 25px;
}

.menu_minombre {
    margin: 0 0 0 4px;
    color: #464646;
    font-size: 1rem;
}

/*? Para cada articulo del menu */
.menu_lista {
    list-style: none;
    display: none;
}

/*? Para cada link */
.menu-links {
    text-decoration: none;
    color: #464646;
    padding-right: 20px;
}

.menu-links--correo{
    font-size: 1rem;
    font-weight: 400;
}

/*! Para hacerlo responsive */
/* Estilos para teléfono (hasta 600px) */
@media screen and (max-width: 600px) {
}

/* Estilos para tablet (de 601px a 1024px) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .menu-links--correo{
        font-weight: 700;
    }
}

/* Estilos para PC (a partir de 1025px) */
@media screen and (min-width: 1025px) {
    .menu_lista {
        display: flex;
    }
    .menu-links--correo{
        font-weight: 700;
    }
    .menu_minombre {
        color: #464646;
        font-size: 1.4rem;
    }

    .menu_imagen {
        width: 35px;
    }
}